<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Softura_LIB" value="https://pkgs.dev.azure.com/softuravault/eead0206-6959-4e49-b193-074e4872ef5d/_packaging/Softura/nuget/v3/index.json" />
    <add key="NugetOrg" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>